@model ProductModel



@foreach(var p in @Model.Products)
{
    
    <div class="card w-75">
        <div class="card-body">
        

            <div>
            <h5 class="card-title">@p.Name</h5>
            <p class="card-text">@p.Description</p>
            </div>
            <div class=card-price>
            <h3>@p.Price.ToString("c")</h3>
            </div>
        </div>
        
     
    </div>

}

<nav aria-label="Page navigation example" class="paginationbox">
      <ul class="pagination">
@for(int i =1; i <= @Model.PageCount; i++)
{

<li class="page-item"><a class="page-link" asp-action="List" asp-route-currentPageIndex=@i>@i</a></li>
            
}
</ul>
</nav>




 
